<!--  <%= stylesheet_link_tag "/" %>  -->
<link rel="stylesheet" type="text/css" href="welcome.css">
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<header class="v-header container">
    <div class="fullscreen-video-wrap">
      <video src="https://staging.coverr.co/s3/mp4/Up.mp4" autoplay="true" loop="true" muted>
    </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
      <h1>Welcome to the best link shortener on the market</h1>
      <p>Enter a link and press "Shorten" to shorten your link</p>
      <a class="btnmain" id="save-URL">Shorten</a>
      <!--  	<%= link_to '/links', new_welcome_path, remote: true%> 	-->

      
      <div class = "class1" >
      <span class="input input--kaede">
          <input class="input__field input__field--kaede" type="text" id="input-35" />
          <label class="input__label input__label--kaede" for="input-35">
              <span class="input__label-content input__label-content--kaede">Long URL</span>
          </label>
      </span>
      </div>
    
      <div class = "class2" >
      <span class="input input--kaede">
          <input class="input__field input__field--kaede" type="text" id="input-36" />
          <label class="input__label input__label--kaede" for="input-36">
              <span class="input__label-content input__label-content--kaede">Short URL</span>
          </label>
      </span>
      </div>

    </div>
  </header>

<body>
  <script type="text/javascript" src="index.js"></script>
</body>

  <section class="section blackBar">
  <div class="container">
  <h1>MARK-Shortener</h1>
    <a href="#" class="btnlogin">Login</a>
    <a href="#" class="btnsignup">Sign up</a>
  </div>
  </section>

  <section class="section section-a">
    <div class="container">
      <h2>Pls donate</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, impedit amet minima iste autem cumque et maiores blanditiis doloribus aut dolorum quaerat non est voluptatum, tempore ut dolorem voluptas quod quae accusantium, ex inventore ducimus. Beatae mollitia exercitationem, quam similique, consectetur ratione reprehenderit delectus neque eligendi facere soluta dolor ducimus!</p>
    </div>
  </section>
