<!--  <%= stylesheet_link_tag "/" %> 
<link rel="stylesheet" type="text/css" href="welcome.css">  -->
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<header class="v-header container">
  </header>

<body>
  <div class="fullscreen-video-wrap">
    </div>  -->
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
      <h1>Sign in & save your links</h1>
      <p>Enter a link and press "Shorten" to shorten your link</p>
     
      <!--  	<%= link_to '/links', new_welcome_path, remote: true%> 	-->

      
      <div class = "class1" >
      <span class="input input--kaede">
          <input class="input__field input__field--kaede" type="text" id="input-35" />
          <label class="input__label input__label--kaede" for="input-35">
              <span class="input__label-content input__label-content--kaede">Username</span>
          </label>
      </span>
      </div>


<div class = "class3" >
      <span class="input input--kaede">
          <input class="input__field input__field--kaede" type="text" id="input-37" />
          <label class="input__label input__label--kaede" for="input-37">
              <span class="input__label-content input__label-content--kaede">Password</span>
          </label>
      </span>
      </div>


 <button class="btnmain" id="login">Log in</button>
    </div>



  <script type="text/javascript" src="login.js"></script>
</body>

  <section class="section blackBar">
  <div class="container">
  <h1>EasyLink - the best link shortener in the world</h1>
  </div>
  </section>

  <section class="section section-a">
    <div class="container">
      <p>Don`t have an account? Sign Up Now</p>

    </div>
  </section>

